<!DOCTYPE html>
<html lang="en">

<% include ./partials/_header.ejs %>

  <%if(user){%>
  <ul>

    <% if(Object.keys(urls).length){
 for(url in urls){ %>
    <li><a href="<%= urls[url].url %>">
        <%= url %>
      </a>
      &nbsp;
      <a href="<%= urls[url].url %>">
        <%= urls[url].url %>
      </a>
      &nbsp;
      <a href="/urls/<%= url %>">Edit</a>
      &nbsp;
      <form style="display: inline-block" method="POST" action="/urls/<%= url %>/delete">
        <input type="submit" value="delete">
      </form>
    </li>
    <% }; 

  }else{%>

    <a>You don't have any shorten url. Let's create new one!
      <%}%>
  </ul>
  <a href="/urls/new">Create a New Short Link</a>
  <%}%>

</body>

</html>