<!DOCTYPE html>
<html lang="en">

<!-- _header has open body tag -->
<% include ./partials/_header.ejs %>

  <div class="content">

    <%if(user){%>

    <h2>Your Short URLs</h2>
    
    <ul>

      <% if(Object.keys(urls).length){

    for(url in urls){ %>

      <li class="list"><a href="<%= urls[url].url %>">
          <%=addressPrefix%><%= url %>
        </a>
        <a href="<%= urls[url].url %>">
          ( <%= urls[url].url %> )
        </a>
        &nbsp; &nbsp; &nbsp;

        <form method="GET" action="/urls/<%= url %>">
          <button type="submit">edit url</button>
        </form>

        <form method="POST" action="/urls/<%= url %>?_method=DELETE">
          <button type="submit">delete</button>
        </form>
      </li>
      <% }; 

      }else{%>

      <p>You don't have any shorten url. Let's create new one!</p>

      <%}%>

    </ul>

    <br>
    <a href="/urls/new">Create a New Short Link</a>
    <%}%>

  </div>

</body>
</html>