<!DOCTYPE html>
<html lang="en">

<!-- _header has open body tag -->
<% include ./partials/_header.ejs %>

  <div class="content">
    <h2>Generated URL</h2>
    
    <ul>
      <li class="list">ShortURL:&nbsp;&nbsp;<a href="<%=addressPrefix%><%= shortURL %>">
          <%= shortURL %>
        </a> &nbsp; 
        ( <%= longURL %> )</li>

      <form id="editForm" method="POST" action="/urls/<%= shortURL %>">
        <input name="newUrl" type="text" placeholder="http://" required>
        <button type="submit">update linked url</button>
      </form>
    </ul>

    <a href="/urls">Back to list</a>
  </div>

</body>
</html>